@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");
* {
  font-family: "Oswald", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body,
html {
  background: #222;
}

::-webkit-scrollbar {
  display: none;
}

.main-header {
  display: flex;
  flex-direction: column;
  height: 650px;
  background-image: url("https://s1.vcdn.biz/static/f/5021667001/image.jpg");
  background-position: 50% 40%;
  background-size: cover;
}
.main-header .form-container {
  display: flex;
  padding: 30px;
  width: 50%;
}
.main-header .form-container .form {
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
}
.main-header .form-container .form .search-bar {
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: 0.5s;
  width: 70px;
}
.main-header .form-container .form .search-bar .search {
  width: 100%;
  font-size: 20px;
  border: none;
  outline: none;
  transition: 0.5s;
  transition: padding 0s;
}
.main-header .form-container .form .search-bar .search:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px rgb(255, 255, 255) inset;
}
.main-header .form-container .form .search-bar .search-icon {
  font-size: 30px;
  padding: 8px;
  border: none;
  width: 70px;
  color: rgb(255, 255, 255);
  background: rgb(0, 91, 187);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}
.main-header .carousel {
  height: 550px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.main-header .carousel .slide-button {
  height: 550px;
  width: 100%;
  flex-shrink: 4;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-header .carousel .slide-button span {
  font-size: 50px;
}
.main-header .carousel .carousel-content {
  width: 100%;
  height: 550px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 1;
  overflow: hidden;
}
.main-header .carousel .carousel-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: rgba(0, 0, 0, 0.3960784314);
  padding: 10px;
  width: 80%;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
.main-header .carousel .carousel-body .sp-header {
  font-size: 25px;
}
.main-header .carousel .carousel-body .sp-header h3 {
  display: flex;
  color: white;
  transition: 0.5s;
}
.main-header .carousel .carousel-body .sp-header h3:hover {
  color: yellow;
}
.main-header .carousel .carousel-body .sp-main {
  font-size: 25px;
  color: rgb(245, 245, 245);
}
.main-header .carousel .carousel-body .sp-main .slide-paragraph {
  margin-top: 20px;
}
.main-header .carousel .carousel-body .sp-footer .sp-button {
  margin-top: 20px;
  border: none;
  padding: 5px;
  font-size: 25px;
  width: 150px;
  transition: 0.3s;
  box-shadow: rgb(15, 77, 143) 0px 0px 0px inset;
}
.main-header .carousel .carousel-body .sp-footer .sp-button:hover {
  box-shadow: rgb(15, 77, 143) 151px 0px 0px inset;
  color: whitesmoke;
}
.main-header .header-body {
  padding: 20px 40px 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100px;
}
.main-header .header-body .brand h1 {
  color: #333;
}
.main-header .header-body .links-row {
  width: 25%;
  display: flex;
  justify-content: center;
}
.main-header .header-body .links-row .header-link-list {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main-header .header-body .links-row .header-link-list .link {
  color: #333;
  font-size: 20px;
  transition: 0.3s;
  text-decoration-color: transparent;
}
.main-header .header-body .links-row .header-link-list .link:hover {
  text-decoration-color: rgb(255, 213, 0);
}

.brand-link {
  text-decoration: none;
}

.brand h1 {
  color: #333;
  box-shadow: rgb(255, 213, 0) 0px 0px 0px inset, rgb(0, 91, 187) 0px 0px 0px inset;
  transition: 0.3s;
  padding: 0px 10px;
  font-size: 40px;
}
.brand h1:hover {
  box-shadow: rgb(255, 213, 0) 0px -5px 0px inset, rgb(0, 91, 187) 0px 5px 0px inset;
}

.main-content .film-list {
  padding: 40px 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.main-content .film-list p.start-insert {
  font-size: 50px;
  color: whitesmoke;
  margin: 10% 0px;
}
.main-content .film-list .film-body {
  display: flex;
  padding: 40px 5%;
}
.main-content .film-list .film-body .film-description {
  color: whitesmoke;
  font-size: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 60%;
}
.main-content .film-list .film-body .film-description .film-info h3 {
  font-size: 30px;
}
.main-content .film-list .film-body .film-description .film-info .info-list .list-item {
  padding: 5px 0px;
}
.main-content .film-list .film-body .film-description .button-container {
  display: flex;
  width: 320px;
  justify-content: space-between;
}
.main-content .film-list .film-body .film-description .button-container .button {
  background: #ffffff;
  padding: 5px;
  border-radius: 5px;
  color: #111;
  text-decoration: none;
  transition: 0.25s;
}
.main-content .film-list .film-body .film-description .button-container .button:first-of-type:hover {
  background: rgb(255, 213, 0);
}
.main-content .film-list .film-body .film-description .button-container .button:last-of-type:hover {
  background: rgb(0, 91, 187);
  color: white;
}
.main-content .film-list .film-poster {
  height: 500px;
  width: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}
.main-content .film-list .film-container {
  padding: 20px;
}
.main-content .film-list .film-container-body {
  display: flex;
  flex-direction: column;
  width: 300px;
}
.main-content .film-list .film-container-body .film-info {
  color: whitesmoke;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main-content .film-list .film-container-body .film-info p {
  font-weight: 100;
}
.main-content .film-list .film-container-body .film-info a {
  margin-top: 5%;
  padding: 5px;
  width: 150px;
  background: #333;
  text-decoration: none;
  color: white;
  text-align: center;
  transition: 0.3s;
  font-size: 25px;
}
.main-content .film-list .film-container-body .film-info a:hover {
  background: #e84949;
}

.main-footer {
  background: #111;
}
.main-footer .footer-body {
  padding: 10px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-footer .brand {
  width: 50%;
  display: flex;
  justify-content: center;
}
.main-footer .brand h1 {
  font-size: 60px;
  color: whitesmoke;
  width: -moz-max-content;
  width: max-content;
}
.main-footer .links-col {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
  padding: 5% 0px;
  border-right: #333 1px solid;
}
.main-footer .links-col .footer-link-list {
  padding: 10px;
}
.main-footer .links-col .link,
.main-footer .links-col .list-header {
  color: whitesmoke;
  transition: 0.3s;
  font-size: 20px;
  text-decoration: none;
}
.main-footer .links-col .list-header {
  color: rgb(255, 213, 0);
}
.main-footer .links-col .link:hover {
  color: blue;
  text-decoration: underline;
}

ul {
  list-style-type: none;
}